<h1 mat-dialog-title>Add Note</h1>
<div mat-dialog-content>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput #message maxlength="256" placeholder="" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <mat-select name="color">
      <mat-option value="white">
        <div>
          <span class="circle-dot-white center-span"></span>
          &nbsp;
          <span class="center-span">White</span>
        </div>
      </mat-option>
      <mat-option value="purple">
        <div>
          <span class="circle-dot-purple center-span"></span>
          &nbsp;
          <span class="center-span">Purple</span>
        </div>
      </mat-option>
      <mat-option value="green">
        <div>
          <span class="circle-dot-green center-span"></span>
          &nbsp;
          <span class="center-span">Green</span>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput #message maxlength="256" placeholder="" />
  </mat-form-field>
</div>
